<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<connectionStrings>
		<add name="Webdav" connectionString="Database=HojuWebDisk.Database;Server=(local);uid=webdav;password=webdav;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
	</appSettings>
	<system.web>
		<httpRuntime 
			executionTimeout="110" 
			maxRequestLength="11264" 
			requestLengthDiskThreshold="80" 
			useFullyQualifiedRedirectUrl="false" 
			minFreeThreads="8" 
			minLocalRequestFreeThreads="4" 
			appRequestQueueLimit="5000" 
			enableKernelOutputCache="true" 
			enableVersionHeader="true" 
			requireRootedSaveAsPath="true" 
			enable="true" 
			shutdownTimeout="90" 
			delayNotificationTimeout="5" 
			waitChangeNotification="0" 
			maxWaitChangeNotification="0" 
			enableHeaderChecking="true" 
			sendCacheControlHeader="true" 
			apartmentThreading="false"/>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
			</assemblies>
		</compilation>
		<httpModules>
			<add name="WebDavModule" type="WebDavModule"/>
		</httpModules>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
	</system.web>
</configuration>
